html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  border: 2px solid darkgreen;
  background-color: whitesmoke;
}

body {
  margin: 0px auto;
  max-width: 1300px;
  height: auto;
  display: block;
}

nav {
  padding: 20px;
  line-height: 1.5;
  display: flex;
}

nav a {
  font-family: 'Fraunces', serif;
  font-weight: 300;
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

section {
  max-width: 1300px;
  height: 900px;
  margin: auto;
  padding: 20px;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}


#Ellipse {
  width: 400px;
  height: 400px; 
  margin: 50px auto;
  border-radius: 9999px;
  background: #10520B;

}

h1 {
  color: black;
  font-size: 70px;
  font-family: 'Fraunces', serif;
  font-weight: 800;
  word-wrap: break-word;
  margin: auto;
}



p {
  color: black; 
  font-size: 20px; 
  font-family: 'Fraunces', serif;
  font-weight: 400; 
  word-wrap: break-word;
  font-family: 'Fraunces', serif;
}

p#left {
  text-align: left;
}

#flex {
  display: flex;
  list-style: none;
  max-width: 1300px;
  margin: 50px auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#flex div {
  flex: 1;
}


#Rectangle {
  width: 550px;
  height: 400px;
  background: #10520B;
  margin: 30px;
  border-radius: 25px;
}

#rectangle {
  height: 200px;
  flex: 1;
  background: #10520B;
  margin: 10px;
  border-radius: 25px;
}

/* .section5 #flex {
  flex-wrap: wrap;
  gap: 10px;
}

.section5 #ellipse {
  flex: 0 0 25%;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  background: #10520B;
  border-radius: 25px;
} */

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: 175px 175px 175px 175px 175px;
  grid-template-rows: 175px 175px 175px 175px;
  justify-content: center;

}

.one {
  grid-area: 1 / 1 / 5 / 3;
}

.two {
  grid-area: 3 / 1 / 4 / 6;
}

.three {
  grid-area: 4 / 1 / 5 / 6;
}

.four {
  grid-area: 1 / 3 / 3 / 6;
}

.section5 button {
  border-radius: 25px;
  font-size: 50px;
  background-color: transparent;
  border: 5px;
}


button {
  justify-content: center;
  font-family: 'Fraunces', serif;
  transition-duration: 0.4s;

}

.section6 button {
  width: 80px;
  height: 80px;
  border-color: #10520B;
  border-radius: 9999px;
}


button:hover {
  background-color: #10520B; 
  color: white;
  z-index: 1;
  
}


